@import url("https://fonts.googleapis.com/css2?family=Glory&family=Syncopate:wght@700&display=swap");

body {
    background-image: url("https://images.pexels.com/photos/1722196/pexels-photo-1722196.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: lighten;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

.App {
    text-align: center;
    font-family: "Glory", sans-serif;
    font-size: large;
}

.App-header {
    background-color: #282c34;
    max-height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 2vmin);
    color: white;
    padding: 10px;
    font-family: "Syncopate", sans-serif;
}

.App-header a {
    text-decoration: none;
    color: white;
    margin-top: 10px;
}

#header-logo {
    height: 50px;
    width: 50px;
    margin-left: 20px;
}

main {
    padding: 10px;
}

.location-name-text {
    text-transform: capitalize;
    text-align: left;
}

p {
    margin: 0;
}

small {
    color: gray;
    text-align: left;
    font-size: 12px;
}
