@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap");

.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    max-height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 2vmin);
    color: white;
    padding: 10px;
    font-family: "Syncopate", sans-serif;
}

.App-header a {
    text-decoration: none;
    color: white;
    margin-top: 10px;
}

#header-logo {
    height: 50px;
    width: 50px;
    margin-left: 20px;
}

main {
    padding: 10px;
}
